img {
  width: 100%;
  max-height: 100%;
  display: block;
}

h3.black-line {
  font-weight: bolder;
  color: black;
}

h5.red-line,
h3.red-line {
  font-weight: bolder;
  color: red;
}

h3.light-sky-line {
  font-weight: bolder;
  color: #87CEFA;
}
h3.orange-line {
  font-weight: bolder;
  color: orange;
}

h3.green-line {
  font-weight: bolder;
  color: green;
}

button.btn-success {
  margin-top: 15px;
}

div.basic-rule,
div.current-operation {
  margin-top: 20px;
}

